// colors
$white: #faf0ea;
$red: #fb5c3c;
$teal: #2c8485;
$light-beige: #fcbe8e;
$dark-beige: #ac9484;

$background-color: $white;
$hilight-color: $red;
$text-color: $dark-beige;

$header-font: 'Fjalla One', sans-serif;
$bulk-font: 'Average', serif;
